@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Грешка!";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникнала е грешка свързана с вашите действия.</h2>

