
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">РЕЦЕПТИ</h2>

<div class="col-md-4 text-center">

@Html.ActionLink("Предястия", "ListSalads", "Receipt")

</div>

<div class="col-md-4 text-center">

    @Html.ActionLink("Основни ястия", "ListMeals", "Receipt")

</div>


<div class="col-md-4 text-center">

    @Html.ActionLink("Десерти", "ListDesserts", "Receipt")

</div>
