
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>

@Html.ActionLink("Salads", "ListSalads", "Receipt")

</div>

<div>

    @Html.ActionLink("Meals", "ListMeals", "Receipt")

</div>


<div>

    @Html.ActionLink("Desserts", "ListDesserts", "Receipt")

</div>
