@model IEnumerable<ReceiptsWebMVCApp.Models.FoodViewModels>
@{
    ViewBag.Title = "ListMeals";
}

<h2>ListMeals</h2>

@Html.DisplayFor(x => x, "ReceiptsView")


<div>
    @Html.ActionLink("Back", "Index")
</div>