@model IEnumerable<ReceiptsWebMVCApp.Models.FoodViewModels>
@{
    ViewBag.Title = "ListDesserts";
}

<h2>ListDesserts</h2>

@Html.DisplayFor(x => x, "ReceiptsView")


<div>
    @Html.ActionLink("Обратно в рецепти", "Index")
</div>