@using (Html.BeginForm())
{

    <div class="input-group">
        <span class="input-group-btn"><input type="submit" value="Добави коментар" class="btn btn-default" style="display: inline-block" /></span>
        @Html.TextBox("CommentText", null, new { @class = "form-control", @style = "width: 100%" , placeholder="Добави коментар"})
        
    </div>

}