
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">РЕЦЕПТИ</h2>

<div class="col-md-4 text-center">

    @Html.ActionLink("Предястия", "ListAppetizers", "Recipe")

</div>

<div class="col-md-4 text-center">

    @Html.ActionLink("Основни ястия", "ListMainDishes", "Recipe")

</div>


<div class="col-md-4 text-center">

    @Html.ActionLink("Десерти", "ListDesserts", "Recipe")

</div>
