@using RecipesWebData
@model IEnumerable<Recipe>
@{
    ViewBag.Title = "My";
}

<h2>My</h2>

@Html.DisplayFor(d => d, "_RecipeView")
@*@Html.PagedListPager(Model, page => Url.Action("My", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })*@