
@using RecipesWebData

@model IEnumerable<Recipe>
@{
    ViewBag.Title = "ReceiptsView";
}
<ul class="nav nav-pills nav-stacked">
    
    @foreach (var item in Model)
    {


        <li>
            @Html.ActionLink(item.Title, "Details", "Recipe", new { id = item.ID }, null)

        <p>


            
                @{var TotalVotedSum = 0D;
                    foreach (var itm in item.Ratings)
                    {
                        TotalVotedSum += itm.Vote;
                    }
                    var vote = Math.Round(TotalVotedSum / item.Ratings.Count(), 1);

                    if (TotalVotedSum != 0D)
                    {
                        <text>Оценка: @vote<span>/5</span></text>
                    }
                    else
                    {
                        <text>Оценка: 0/5</text>
                    }
                }
          

            @*//TODO a little part of description !*@

        </p>
            <p>
                @*@if (Roles.IsUserInRole("Administrators") || Roles.IsUserInRole("MasterAdministrators"))
            {*@
                @Html.ActionLink("Промени", "Edit", "Recipe", new { id = item.ID, oldFoodType = item.Type }, new { @class="btn btn-default btn-xs"})

                @Html.ActionLink("Изтрий", "Delete", "Recipe", new { id = item.ID }, new { onclick = "return confirm('Сигурни ли сте, че искате да изтриете рецептата?');", @class = "btn btn-default btn-xs"})
            </p>
    </li>

    }
</ul>