@using (Html.BeginForm())
{
    <div class="input-group input-group-lg" >
        @Html.TextBox("UserSearched",null, new { @placeholder = "Username"})
        @Html.DropDownList("RoleChange",
                            new List<SelectListItem> {
                                new SelectListItem {Text = "Администратор", Value="Administrators" },
                                new SelectListItem {Text = "Потребител", Value="User" },
                                }, "--Избери права--", new { htmlAttributes = new { @class = "form-control input-lg" } })
       
        <input type="Submit" value="Промени права" class="btn btn-primary" />
    </div>

}
