@using (Html.BeginForm())
{
    <div class="input-group">
        
        @*<span class="input-group-btn"><input type="submit" value="Добави коментар" class="btn btn-default" style="display: inline-block" /></span>
        @Html.TextBox("CommentText", null, new { @class = "form-control", @style = "width: 100%", placeholder = "Добави коментар" })*@


            @Html.TextBox("UserSearched", null, new { @class = "form-control", @style = "width: 50%", @placeholder = "Username" })
            @Html.DropDownList("RoleChange",
                            new List<SelectListItem> {
                                new SelectListItem {Text = "Администратор", Value="Administrators" },
                                new SelectListItem {Text = "Потребител", Value="User" },
                                }, "--Избери права--", new { @class = "form-control" , @style="width: 50%"})
        
        <span class="input-group-btn"><input type="Submit" value="Промени права" class="btn btn-primary" style="display: inline-block"/></span>
</div>

}
