@using PagedList;
@using PagedList.Mvc;
@using RecipeWebData
@model IPagedList<RecipeConfirm>
@{
    ViewBag.Title = "Администраторски панел";
}

<h2>Администраторски панел</h2>
@if (this.User.IsInRole("MasterAdministrators"))
{
    <div id="masterAdmin">
        @Ajax.ActionLink("Смяна на потребителски права", "ChangeRoles", "Admin", new { type = Model }, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "masterAdmin"
}, new { @class = "btn btn-default" })
    </div>
}

@foreach (var item in Model)
{
    @Html.DisplayFor(x => item, "_PendingRecipeView")
   
}
<div class="row">
    <div class="pull-right" style="margin-right: 20px">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = false })
    </div>
</div>