@{
    ViewBag.Title = "Забравена парола";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Моля проверете имейла си за да промените вашата парола!
    </p>
</div>
	
