@{
    ViewBag.Title = "Промяна на парола";
}

<hgroup class="title">
    <h1 class="text-center">@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Вашата парола беше променена успешно. Моля @Html.ActionLink("Влез", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
