@using RecipesWebApp.Models
@model RecipeCollectionsViewModel
@{
    ViewBag.Title = "Начало";
}

<br />

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active carousel-dots"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="carousel-dots"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="carousel-dots"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
         <div class="item active" id="slide1">
            <a href="/Recipe/ListAppetizers">
                <img src="~/Images/appetizer_medium.jpg" alt="Image Appetizers">
                <div class="carousel-caption">
                    <h1 carouse-foodtypes-titles>ПРЕДЯСТИЯ</h1>
                </div>
            </a>
        </div>

        <div class="item" id="slide2">
            <a href="Recipe/ListMainDishes">
                <img src="~/Images/meal_medium.jpg" alt="Image MainDishes">
                <div class="carousel-caption">
                    <h1 class="carouse-foodtypes-titles">ОСНОВНИ ЯСТИЯ</h1>

                </div>
            </a>
        </div>
        <div class="item" id="slide3">
            <a href="/Recipe/ListDesserts">
                <img src="~/Images/dessert_medium.jpg" alt="Image Desserts">
                <div class="carousel-caption">
                    <h1 carouse-foodtypes-titles>ДЕСЕРТИ</h1>
                </div>
            </a>
        </div>


    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />

<div class="container text-center">
    <h2>Най-добри рецепти по категория</h2><br>
    <div class="row">
        <div class="col-sm-4">
            <p><h4>Предястия</h4></p>
            @Html.DisplayFor(x => x.Appetizers)
        </div>
        <div class="col-sm-4">
            <p><h4>Основни ястия</h4></p>
            @Html.DisplayFor(x => x.MainDishes)
        </div>
        <div class="col-sm-4">
            <p><h4>Десерти</h4></p>
            @Html.DisplayFor(x => x.Desserts)
        </div>
    </div>
</div><br>