@using RecipesWebApp.Models
@model SearchViewModel
@{
    ViewBag.Title = "Търсене по един продукт";
}

<h2 class="text-center">Рецепти с пълно съвпадение на избраните от вас продукти:</h2>
<div class="text-center">
    @if (Model.MatchedByAll.Count() != 0)
    {
        @Html.DisplayFor(x => x.MatchedByAll)
    }
    else
    {
         <text> Няма намерени рецепти </text>
    }

</div>
<br />
<hr />
<br />
<h2 class="text-center">Рецепти с един липсващ продукт на избраните от вас:</h2>
<div class="text-center">
    @if (Model.MatchedWithoutOne.Count() != 0)
    {
        @Html.DisplayFor(x => x.MatchedWithoutOne)
    }
    else
    {
        <text> Няма намерени рецепти </text>
    }

</div>
